{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                Registro de usuario
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success w-100">
                        Crear cuenta
                    </button>
                </form>

                <p class="mt-3 mb-0 text-center">
                    ¿Ya tienes cuenta?
                    <a href="{% url 'login' %}">Inicia sesión</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}