{% extends "base.html" %}
{% block content %}

<div class="p-5 bg-transparent rounded shadow-sm card">
    <h1 class="mb-3">AgroDataLab EnviroPro</h1>
    <p class="lead">
        Aplicación web para consultar datos de sensores agrícolas, revisar indicadores,
        detectar alertas y gestionar recomendaciones.
    </p>

    <div class="mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-success px-4 py-2">Ir al panel principal</a>
        <a href="{% url 'about' %}" class="btn btn-outline-light px-4 py-2 ms-2">Acerca del proyecto</a>
    </div>
</div>

{% endblock %}