<nav>
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'alert_list' %}">Alertas</a></li>
            <li><a href="{% url 'recommendation_list' %}">Recomendaciones</a></li>
            <li><a href="{% url 'inicio_enviro' %}">EnviroPro</a></li>
            <li>
                <strong>{{ user.username }}</strong>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>
